.sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 70px 15px 70px 15px;
    background-color: white;
    color: #333333;
    border-right: 1px solid #D0D3D4;
    overflow: auto;
    font-size: 14px;
}
.content-wrapper {
    margin-left: 220px;
    padding-top: 70px;
    margin-right: 15px;
}
.content-wrapper > .content-header {
    color:#333333;
    margin-bottom: 20px;
}

#btn-add-record, #btn-save {
    display: none;
}

.overlay{
    border-top: 1px solid #D0D3D4;
    background-color: #adacac;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
}
.overlay.out{
    width: 0%;
}